* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #555;
}

/* div {
  display: block;
} */

.prof-page-container {
  padding-top: 85px;
  /* margin: 0 auto; */
}

.prof-info-container {
  padding-left: 4%;
  padding-right: 4%;
  margin: 0 auto;
  width: 935px;
  display: flex;
  grid-gap: 100px;
  gap: 100px;
  min-height: 25vh;
  border-bottom: 1px solid #dbdbdb;
}

.profile-info-right {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  gap: 30px;
}

.prof-username {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 28px;
  font-weight: 300;
  margin-top: 5px;
}

.follow-prof-btn {
  background-color: #0095f6;
  border: none;
  color: white;
  font-weight: 500;
  height: 30px;
  width: 89px;
  border-radius: 4px;
  cursor: pointer;
}

.followed-prof-btn {
  font-weight: 500;
  cursor: pointer;
  height: 30px;
  width: 90px;
  border-radius: 4px;
  border: 0.5px solid #dbdbdb;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
  **** for when we implement edit profile button
  font-weight: 500;
  cursor: pointer;
  height: 30px;
  width: 90px;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  background-color: transparent; */

.prof-stats {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  gap: 30px;
}

.prof-posts-num,
.prof-followers-num,
.prof-following-num {
  font-weight: 600;
}

.prof-name {
  font-size: 16px;
  font-weight: 500;
  color: #262626;
  margin-bottom: -30px;
}

.prof-bio {
  font-size: 16px;
  line-height: 26px;
  color: #262626;
  overflow-wrap: break-word;
  word-break: break-word;
  padding-bottom: 20px;
}

.prof-posts-line {
  border-top: 1px solid black;
  width: 55px;
  margin: auto;
}

.prof-posts-img {
  display: flex;
  justify-content: center;
  color: #262626;
  margin: auto;
  align-items: center;
  font-size: 12px;
  height: 53px;
  grid-gap: 3px;
  gap: 3px;
  font-weight: 500;
  cursor: pointer;
}

.prof-posts-container {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto 40px;
  width: 935px;
  grid-row-gap: 28px;
  grid-column-gap: 28px;
}

.userFeedIndivBigDiv {
  width: 700px;
  height: 930px;
  margin-bottom: 50px;
  border: 0.5px solid #dbdbdb;
  background-color: white;
}

.indivImgFeed {
  min-width: 100%;
  max-width: 100%;
  height: 613px;
}

.prof-post-container {
  width: 293px;
  height: 293px;
}

.prof-post-imgs {
  height: 293px;
  width: 293px;
  object-fit: cover;
  user-select: none;
  position: relative;

}



.fa-solid.fa-heart,
.fa-solid.fa-comment {
  width: 24px;
  height: 24px;
}

.prof-likes {
  display: flex;
  grid-gap: 4px;
  gap: 4px;
  margin-right: 30px;
  gap: 9px;
  align-items: center;
}

.prof-comments {
  display: flex;
  gap: 9px;
  align-items: center;
}

.prof-post-container {
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;

  margin-top: -297px;
  transition: opacity 0.2s ease-in-out;
  background-color: rgba(0,0,0,.442);

  cursor: pointer;
}

.laka{
  font-size: 24px;
  color: white;
}


.thingythingy{
  max-height: 180px ;
}

.prof-post-hover {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prof-post-container:hover .overlay{
  opacity: 0.8;
}
