
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
}

.home-container {
    position: absolute;
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.home-c {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 16px;
}

.home-right-c {
    position: sticky;
    margin-top: 25px;
}

.home-right-c-user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.home-right-c-user #user {
    height: 56px;
    width: 56px;
}

.home-bottom-c {
    margin-top: 20px;
}

.suggestions {
    margin-bottom: 5px;
    color: #8e8e8e;
}

.suggestions-lists {
    display: flex;
    flex-direction: column;
    width: 293px;
    margin-top: 15px;
}

.suggestions-list {
    display: flex;
    align-items: center;
    width: 293px;
    height: 38px;
    margin: 5px 0px;
}

.suggestions {
    font-size: 14px;
    font-weight: 500;
    width: 293px;
}

.sug-username {
    font-size: 14px;
    color: #262626;
    font-weight: 500;
}

.sug-name {
    font-size: 12px;
    color: #8e8e8e;
}

.sug-user-info {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    grid: 4px;
}

.sug-username:hover {
    text-decoration: underline;
}

.heart-likes{
    height: 70px;
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home-post-likes {
    font-size: 14px;
    font-weight: 500;
}


.add-a-comment-forma{
    bottom: 0;
    height: 60px;
    position: absolute;
    display: flex;
    width: 100%;

    height: 53px;
    align-items: center;
    justify-content: space-between;
    border-top: 0.5px solid #dbdbdb;
}

.userFeedIndivBigDiv{
    position: relative;
    border-radius: 4px
}

.input-caption22{
    border: none;
    outline: none;
    width: 570px;
    height: 40px;
    background: none;
    margin-left: 9px;
    padding-top: 16px;
    resize: none;
}

.commentText::-webkit-scrollbar {
    display: none;
}
.input-caption22::-webkit-scrollbar {
    display: none;
}

.img-thingy-usernameEdit{
    margin: 10px 20px 0px;
}

.viewAllCommentsThingy{
    font-size: 14px;
    color: #262626;
    font-weight: 500;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 10px 20px 0px;
}

.username-comment-thingy{
    display: flex;
}

.comment-box {
    display: flex;
    gap: 7px;
    font-size: 14px;
    color: #262626;
    font-weight: 500;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 10px 20px 0px;

}
.commentText {
    opacity: 1;
    font-weight: 400;
    overflow: scroll;
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif; */
    /* font-size: 14px; */
    /* word-break: break-all; */
}
