.modal-container-edit-delete-post {

    width: 400px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -1000px;
    animation: dropDeleteUpdatePost .4s ease forwards;
    border-radius: 8px;

}

.edit-delete-post-modal-divs {
    width: 100%;
    min-height: 48px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #262626;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
}

.edit-caption {
    border-top: 1px solid rgba(var(--b6a, 219, 219, 219), .8);
    border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), .8);
}

.navlink-delete {
    background: none;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #ed4956;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

/* Temporarly code */
.navlink-update {
    background: none;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}



@keyframes dropDeleteUpdatePost {
    0% {
        opacity: 0;
    }

    70% {
        transform: translateY(1500px);
    }

    100% {
        transform: translateY(1310px);
        opacity: 1;
    }
}


.edit-modal-input-caption {
    width: 100%;
    height: 90px;
    border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), .8);

}
.some-caption{
    margin-top: -28px;
    margin-left: 350px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;

}

.the-caption-edit-input {
    width: 100%;
    height: 100%;
}

.edit-modal-button {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), .8);

}

.input-caption-update {

    width: 100%;
    border: none;
    height: 100%;
    padding: 0 15px;
    outline: none;
    resize: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 14px;


}
.input-caption-update::-webkit-scrollbar {
    display: none;
}

.update-button-blue {
    background: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #0095f6;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    cursor: pointer;
}
