* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #555;
  }

.about-pg-container {
    top: 60px;
    position: absolute;
    width: 40%;
    height: 85%;
    border: 1px solid grey;
    display: flex;
    margin-left: 31%;
    margin-top: 2%;

}



.friend-div {
    position: relative;
    width: 100%;
    max-width: 100%;

}

.friend-div img.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .2s;

}

.friend-div:hover img.image-hover {
    opacity: 0.8;
}


.friends-container {
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto 40px;
    width: 935px;
    grid-row-gap: 28px;
    grid-column-gap: 28px;

}


.doggo-meme {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
