.background-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}



.modal-container {
    width: 55vw;
    height: 80vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -1000px;
    animation: drop .5s ease forwards;
    border-radius: 8px;
}

@keyframes drop {
    0% {
        opacity: 0;
    }

    70% {
        transform: translateY(1200px);
    }

    100% {
        transform: translateY(1090px);
        opacity: 1;
    }
}


.xButton {
    background: none;
    border: none;
    font-size: 23px;
    padding-left: 18px;
    cursor: pointer;
}

.modal-top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #dbdbdb;
    height: 42px;

}

.createNewPost {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    color: #555;
    font-size: 16px;
    font-weight: 600;
}

._8-yf5 {
    color: rgb(38, 38, 38);
    fill: rgb(38, 38, 38);
    height: 77;
    width: 96;
}

.share-submit-form-post {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #0095f6;
    padding: 0 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.left-part-form-modal {
    width: 37.5vw;
    border-right: 0.5px solid #dbdbdb;
    height: calc(80vh - 42px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.h1-drag-photos-here {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    margin: 20px 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: rgba(var(--i1d, 38, 38, 38), 1);
}

.input-form-modal {
    width: 170px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    opacity: 0;
}

.imgdivdiv {
    height: 30px;
    position: relative;
    width: 170px;
    cursor: pointer;
    background-color: rgba(var(--d69, 0, 149, 246), 1);
    border: 1px solid #0000;
    border-radius: 4px;
    padding: 3px 0;
}

.imgdivdiv p {
    text-align: center;
    cursor: pointer;
    color: rgba(var(--eca, 255, 255, 255), 1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;

}

.someparts {
    display: flex;
}

.right-side-form-modal {
    width: 20vw;
    height: 100%;
}

.half-right-side-grid {
    height: 50%;
    width: 100%;
    border-bottom: 0.5px solid #dbdbdb;
    display: grid;
    grid-template-rows: 20% 1fr 15%;
}

.username-fornm-modal-post {
    padding: 5px 16px;
}

.input-caption {
    width: 100%;
    border: none;
    height: 100%;
    padding: 0 15px;
    outline: none;
    resize: none;
}

.bottom-part-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13px;
}

.bottom-part-grid p {
    color: rgba(var(--i1d, 38, 38, 38), 1);
    font-size: 14px;
    line-height: 16px;
}

.adding-emoji-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.adding-emoji-post {
    cursor: pointer;
    width: 23px;
}

.post-form-p-wordcount {
    display: flex;
    flex-direction: row-reverse;
}

.xMarkPostModal {
    font-size: 35px;
    position: absolute;
    right: 36%;
    top: 47px;
    color: red;
}

.yesil {
    color: green;
}

.imgshowshere {
    width: 100%;
    height: 50%;
    border-bottom-right-radius: 8px;
}

.imgyay {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 8px;
    object-fit: cover;
}


.loadingiconi{
    font-size: 60px;
    position: absolute;
    bottom: 20%;

}
