.navbar{
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    position: fixed;
}

.narbar-inside-main-div{
    width:100%;
    height:100%;
}


.modelon-navbar-background{
    width: 100%;
    width: 100%;
    background-color: rgba(200,200,200);
}

.whywouldu{
    width: 100%;
    height: 60px;
    position: absolute;
    top:0;
    background-color: rgba(0,0,0,.7);
    z-index: 100;
}
.everything-inside h2{
    margin:0;
    color: #262626;
    font-size: 24px;
    display: inline;
}

.everything-inside{
    width: 975px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 335px 268px 280px;
    grid-column-gap: 24px;
    align-items: center;
}

.search-navbar{
    background-color: whitesmoke;
    width: 268px;
    height:36px;
    padding: 0px 30px;
    font-size: 16px;
    cursor: text;
    border-radius: 6px;
    border: none;
    color: rgba(var(--f52,142,142,142),1);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.navbar-search{
    position: relative;
}

.icon-search-glass{
    position: absolute;
    color: rgba(var(--f52,142,142,142),1);
    font-size: 16px;
    left:7px;
    bottom: 19px;
}

.search-navbar:focus{
    outline: none;
}

.navbar-things{
    display: flex;
    justify-content: space-between;
    margin-left: 55px;
}
.navbar-things i{
    font-size:22px;
    cursor: pointer;
}

.profile-icon-btn:hover {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    padding: 12px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.profile-dropdown {
    position: absolute;
    left:0;
    top: calc(90% + .25rem);
    background-color:  white;
    border-radius: 8px;
    box-shadow: 0 0 0 2px #f0f0f0;
    opacity: 1;
    margin-left: 65%;
}

.prof-btn {
    border: none;
    outline: none;
    background: none;
}

/* .profile-btn {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto",Helvetica,Arial,sans-serif;
    padding-left: 10px;
    padding-top: 5px;
} */

.profile-btn-container-with-icon, .about-site-creators-container, .logout-btn-container{
    padding: 8px 16px;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    cursor: pointer;
    width: 100%;
}

.profile-btn-container-with-icon:hover, .about-site-creators-container:hover, .logout-btn-container:hover {
    background: whitesmoke;
}

.fa-solid.fa-user {
    font-size: 14px;
}

.fa-solid.fa-code {
    font-size: 14px;
}

.logout-btn-container {
    border-top: 1px solid #d5d5d5;
}

/* .profile-btn-container-with-icon {
    margin: 5px;
} */

/*
.about-site-creators-container {
    margin-bottom: 5px;
} */
